* {font-family:"Helvetica Neue",Arial!important;}
#header,#legend{position:absolute;z-index:1000;background:rgba(255,255,255,0.9);}
#header{width:100%;font-size:24px;height:40px;line-height:40px;}
#header div{padding:0 90px;}
#legend{top:40px;right:0;padding-bottom:5px;border-bottom-left-radius:15px;}
#legend img{vertical-align:middle;margin-right:10px;}
#legend div{font-size:13px;padding:5px 10px;}
div#map{position:absolute;top:0;left:0;right:0;bottom:0;height:100%;width:100%;}
div#choices {position:absolute; bottom:0; left:0; padding:15px; border-top-right-radius:15px; z-index:1000;background:rgba(255,255,255,0.9);}
div#choices a {display:block; width:100%; padding:0 0 5px; font:normal 13px Arial; color:#666666; text-decoration:none;}
div#choices a:hover {color:#333333; text-decoration:none;}
div#choices a.selected {color:#000000; text-decoration:underline;}